Q1.Create one variable containing following type of data:

In [1]:
vara='abc'
varb=['a','b','c','d','4']
varc=3.44
vard=('a','b','c','d')

In [2]:
type(vara)

str

In [3]:
type(varb)

list

In [4]:
type(varc)

float

In [5]:
type(vard)

tuple

Q2.What will be the data type of the above given variable.

In [6]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4= 1.

In [7]:
type(var1)

str

In [8]:
type(var2)

str

In [9]:
type(var3)

list

In [10]:
type(var4)

float

Q3. Explain the use of the following operators using an example:

1) / is division operator use to divide with decimals for examples below

In [11]:
a=10/2

In [12]:
print(a),type(a)

5.0

(None, float)

2) % it's called modulas operator , it's uses when we need reminders

In [13]:
b=9
c=9%2
print(c)

1

3) // : it's called floor division , so when we want only qoutient of division. for exm

In [14]:
aa=11
bb=aa//2
print(bb)

5

4) ** : it's Expontentiation so when we need to calculate exponential of number it can be used. for ex

In [15]:
cc=4
dd=cc**4
print(dd)

256

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [16]:
list=['a',('b'),3,cc,bb,4.5]

In [17]:
for i in list:
    print( type(i))
    print(i)

<class 'str'>
a
<class 'str'>
b
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'float'>
4.5

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [18]:
A=100
count = 0
B=2
#I have taken 3 variables where A is 100 and B is 2 , count will check how many times A is Completely  divisible by B//
while A >= B:
# while loop check conditions where A is greater than B or not till A=B.
    if A % B == 0:
# After condition check next checkpoint is A % B modulus operator check remider zero means complete divisible 
        count += 1
# Increment of count to check total count of division 
    B +=1
# Increment of B will increase value of B after each iteration 
print(count)

8

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
int_data=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [20]:
type(int_data)

list

In [21]:
# J is slicing value or index value of the list 
j=0
for i in int_data:
    if int_data[j] % 3==0:
        print('Number is divisible by 3')
    else:
        print('Number is not divisible by 3')
    j+=1
    print(j)

Number is not divisible by 3
1
Number is not divisible by 3
2
Number is divisible by 3
3
Number is not divisible by 3
4
Number is not divisible by 3
5
Number is divisible by 3
6
Number is not divisible by 3
7
Number is not divisible by 3
8
Number is divisible by 3
9
Number is not divisible by 3
10
Number is not divisible by 3
11
Number is divisible by 3
12
Number is not divisible by 3
13
Number is not divisible by 3
14
Number is divisible by 3
15
Number is not divisible by 3
16
Number is not divisible by 3
17
Number is divisible by 3
18
Number is not divisible by 3
19
Number is not divisible by 3
20
Number is divisible by 3
21
Number is not divisible by 3
22
Number is not divisible by 3
23
Number is divisible by 3
24
Number is not divisible by 3
25

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [22]:
# mutable data type is editable we can slice and dice the mutable object for example : List and Dictionary
list_a=['aa','bb','cc',4,8,9]
print(list_a)

['aa', 'bb', 'cc', 4, 8, 9]

In [23]:
type(list_a)

list

In [24]:
#Addition of new element in list data type
list_a.append(2)
list_a[2]='ddd'
list_a.append('cc')

In [25]:
list_a

['aa', 'bb', 'ddd', 4, 8, 9, 2, 'cc']

In [26]:
#dictionary data type operation
#Dictionaries: Dictionaries are mutable collections of key-value pairs. 
#we can modify, add, or delete key-value pairs in a dictionary after it is created
d={'a':'sudhir','b':'sarvan','c':'manish','d':'caitanya'}

In [27]:
type(d)

dict

In [28]:
d['a']='Ramesh'

In [29]:
d

{'a': 'Ramesh', 'b': 'sarvan', 'c': 'manish', 'd': 'caitanya'}

In [30]:
#Immutable objects are tuple, string, integer, float and boolean data type

In [31]:
#Tuple

T=(2,3,4,5)

In [32]:
type(T)

tuple

In [33]:
T[1]

3

In [34]:
T[1]=2

TypeError: 'tuple' object does not support item assignment

In [35]:
# We can slice their position but can not do anykind of operation on same
Str='Hello'

In [36]:
Str[1]

'e'

In [37]:
Str[2]='w'

TypeError: 'str' object does not support item assignment

In [38]:
# integer can not slice their positions 
Int=2345

In [40]:
type(Int)

int

In [42]:
Int[2]

TypeError: 'int' object is not subscriptable

In [45]:
# float can not slice their positions 
flt=3.444
type(flt)

float

In [46]:
flt[2]

TypeError: 'float' object is not subscriptable

In [47]:
#Boolean data type true or false
aa=True
type(aa)

bool

In [48]:
aa[1]

TypeError: 'bool' object is not subscriptable