#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
#Created list with given number and taken into pandas series
SERIES=[4,8,15,16,23,42]

In [3]:
import pandas as pd

In [4]:
df=pd.Series(SERIES)

In [5]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
type(df)

pandas.core.series.Series

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [8]:
type(list1)

list

In [10]:
series=pd.Series(list1)

In [11]:
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
type(series)

pandas.core.series.Series

### Q3. Create a Pandas DataFrame that contains the following data:

In [18]:
Data={
    "Name":['Alice','Bob','Claire'],
    "Age":[25,30,27],
    "Gender":['Female','Male','Female']
}





df=pd.DataFrame(Data)

In [19]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [20]:
type(df)

pandas.core.frame.DataFrame

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [21]:
# a DataFrame is a two-dimensional table with rows and columns, suitable for structured tabular data. 
# It can be thought of as a collection of Series. A Series, on the other hand, is a one-dimensional labeled array with an index, 
# often representing a single column of data


#example dataframe
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
# example Series
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [24]:
# head() and tail(): View the first or last n rows of a DataFrame.
# shape: Get the dimensions (rows, columns) of the DataFrame.
# info(): Provide information about the DataFrame, including data types and non-null counts.
# describe(): Generate summary statistics of numeric columns in the DataFrame.
# unique() and nunique(): Return unique values or the count of unique values in a column.
# groupby(): Group data based on certain columns and apply aggregate functions.
# sort_values(): Sort the DataFrame based on specified columns.
# fillna() and dropna(): Handle missing values by filling or dropping them.
# merge() and concat(): Combine DataFrames using merging or concatenation.
# pivot_table(): Create a pivot table to summarize and analyze data.
# apply(): Apply a function element-wise to a DataFrame or Series.
# map(): Apply a mapping or function to elements of a Series.
# replace(): Replace values in a DataFrame or Series with specified values.
# rename(): Rename columns or index labels in the DataFrame.
# iterrows(): Iterate through rows of the DataFrame as (index, Series) pairs.
# loc[] and iloc[]: Access rows and columns using labels or indices.
# set_index(): Set one or more columns as the DataFrame's index.
# reset_index(): Reset the DataFrame's index to default integer index.
# groupby().agg(): Perform multiple aggregate functions on grouped data.
# cut() and qcut(): Segment and categorize data into bins or quantiles.
# shift() and diff(): Compute time shifts and differences in data.
# rolling(): Compute rolling statistics on data over a defined window.
# astype(): Convert the data type of a column in the DataFrame.
# duplicated() and drop_duplicates(): Identify and remove duplicated rows.
# to_csv() and to_excel(): Save the DataFrame to CSV or Excel files.
# pivot(): Reshape data based on column values and index.
# melt(): Convert a wide-format DataFrame into a long-format structure.
# sample(): Randomly sample rows from the DataFrame.
# corr(): Compute pairwise correlation of columns in the DataFrame.
# isin(): Filter data based on whether values are in a specified list.
# These functions offer a range of capabilities for data exploration, cleaning, transformation, 
# analysis, and visualization within Pandas DataFrames.

In [28]:
# head() and tail(): View the first or last n rows of a DataFrame.
df.head(1)

    Name  Age  Gender
0  Alice   25  Female

In [26]:
df.tail(1)

     Name  Age  Gender
2  Claire   27  Female

In [30]:
# shape: Get the dimensions (rows, columns) of the DataFrame.
df.shape

(3, 3)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [32]:
df.describe

<bound method NDFrame.describe of      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female>

In [36]:
df['Name'].unique

<bound method Series.unique of 0     Alice
1       Bob
2    Claire
Name: Name, dtype: object>

#### Simmilarly we can use other functions

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [38]:
# Series: A Series is a one-dimensional labeled array, and you can modify its values and index after creation.

# DataFrame: A DataFrame is a two-dimensional tabular data structure, and you can modify its columns, 
#     values, and index after creation.

# Panel: Panels were a three-dimensional data structure in older versions of pandas, designed to hold 
#        and manipulate data with three dimensions.However, as of pandas version 0.25.0 (July 2019), Panels 
#        have been deprecated and removed from the library due to their complexity and limited use cases. 
#        Therefore, you won't encounter Panels in recent versions of pandas.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [39]:
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
age_series = pd.Series([25, 32, 28, 19, 27])
score_series = pd.Series([85, 92, 78, 65, 90])

# Creating a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Score': score_series
}

df = pd.DataFrame(data)

print(df)

      Name  Age  Score
0    Alice   25     85
1      Bob   32     92
2  Charlie   28     78
3    David   19     65
4    Emily   27     90