#### Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function.

In [13]:
# List of tuples representing names and number
player =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sorting the list of tuples based on age using a lambda function
final_sorted=sorted(player,key=lambda player:player[1])

In [14]:
print(final_sorted)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [15]:
# next examples
tuples=(1,2,3,4,5,6,0,2,33,11,44,22)

In [6]:
list1=list(tuples)

In [9]:
sorted(list1,key=lambda list1: list1)

[0, 1, 2, 2, 3, 4, 5, 6, 11, 22, 33, 44]

#### Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# Using Lambda Functions

Square=map(lambda list1:list1**2,list1)

In [25]:
print(list(Square))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions
##### Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]
type(list1)

list

In [8]:
aa=tuple(map(lambda list1:str(list1), list1))

In [9]:
print(aa)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

##### Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [12]:
from functools import reduce
list2=range(1,26)
reduce(lambda x,y:x*y,list2)

15511210043330985984000000

##### Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
list3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [29]:
dd=filter(lambda list3:list3%2==0 and list3%3==0,list3)

In [30]:
print(list(dd))

[6, 60, 90, 120]

In [34]:
for i in list3:
    if (i%2 == 0 and i%3 == 0):
        print(i)

6
60
90
120

##### Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function. ['python', 'php', 'aba', 'radar', 'level']

In [42]:
 word_list=['python', 'php', 'aba', 'radar', 'level']

In [43]:
word_list[::-1]

['level', 'radar', 'aba', 'php', 'python']

In [44]:
def is_palindromes(word):
    return word==word[::-1]

In [45]:
def find_palindromes(words):
    palindromes=[]
    for word in words:
        if is_palindromes(word):
            palindromes.append(word)
    return palindromes

In [46]:
find_palindromes(word_list)

['php', 'aba', 'radar', 'level']